@mixin font-face(
  $font-name,
  $font-path,
  $font-weight: 400,
  $font-style: normal
) {
  @font-face {
    font-display: swap;
    font-family: $font-name;
    src: url("#{$font-path}.eot");
    src: local($font-name), local($font-name),
      url("#{$font-path}.eot?#iefix") format("embedded-opentype"),
      url("#{$font-path}.woff") format("woff"),
      url("#{$font-path}.ttf") format("truetype");
    font-weight: $font-weight;
    font-style: normal;
  }
}

@include font-face("Roboto", "../fonts/Roboto-Light", 300);
@include font-face("Roboto", "../fonts/Roboto-Regular", 400);
@include font-face("Roboto", "../fonts/Roboto-Medium", 500);
@include font-face("Roboto", "../fonts/Roboto-Bold", 700);
